*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html{
    font-family: 'Montserrat', sans-serif;
    height: 100%;
}

.bg{
    background-image: url("./sunset_moment.jpg");
    height: 100%;
    background-position: center;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}
nav{
    height: 8vh;
    background: #066c91;
}
.nav-links{
    display: flex;
    list-style: none;
    width: 50%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
    opacity: 1;
}
.nav-links li{
    font-weight: bold;;
}
.nav-links li a{
    text-decoration: none;
    color: white;
    margin-right: auto;
}
.nav-links li a:hover{
    color: black;
}
p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: brown;
    font-weight: bolder;
    font-size: 30px;
}

@media screen and (max-width: 768px){

.line{
    width: 30px;
    height: 3px;
    background: white;
    margin: 5px;

}
nav{
    position: relative;
}
.hamburger{
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    transform: translate(-5%,-50%);
    z-index: 2;
}
    .nav-links{
        position: fixed;
        background: #1c627c;
        height: 100vh;
        width: 50%;
        flex-direction: column;
        clip-path: polygon(100px at 90% 10%);
        transition: all 1s ease-out;
    }
.nav-links.open{
    

}
body{
    flex-direction: column;
}
    p{
        display: none;
    }
    
}